.DS_Store

# LibreNotebook
build/
.ipynb_checkpoints/
.venv/
out

# librenotebook.enochyu.com
.hugo_build.lock
.wrangler
node_modules/

librenotebook.enochyu.com/content/
librenotebook.enochyu.com/public/
librenotebook.enochyu.com/assets/css/make4ht/


