<footer class="footer">
  <span>
    &copy; {{ now.Year }} {{ .Site.Params.author }}. All Rights Reserved.
  </span>

  <script>
    MathJax = {
      options: {
        menuOptions: {
          settings: {
            enrich: false,
            collapsible: false,
            speech: false,
            braille: false,
            assistiveMml: false,
          }
        }
      },
      loader: {
        load: ['[tex]/mathtools']
      },
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['\\[', '\\]'], ['$$', '$$']],
        packages: {'[+]': ['mathtools']}
      },
      svg: { fontCache: 'global' }
    };
  </script>

  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-svg.js"></script>
</footer>

