<div class="single-right-content">
  <h3>About the Note</h3>
  <ul>
    <li><span class="bold">Author:</span> Enoch Yu</li>
    <li>
      <span class="bold">Access:</span>
      <a href="https://archive.enochyu.com/LibreNotebook.pdf">PDF</a>
    </li>
    <li>
      <span class="bold">Source:</span>
      <a href="https://github.com/enochyu-official/LibreNotebook">GitHub</a>
    </li>
  </ul>

  <hr>
  <h3>License</h3>
  <p>
  This works is distributed under the
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
  License.
  </p>
  <h3>Notice</h3>
  <p>
  This page uses <a href="https://ctan.org/pkg/make4ht">Make4ht</a>
  to convert TeX into HTML, whose components are rendered with
  <a href="https://www.mathjax.org/">MathJax</a>.
  </p>
  <h3>
    <span style="color: var(--accent-color1);">&#x2764;</span>
    Contribute
    <span style="color: var(--accent-color1);">&#x2764;</span>
  </h3>
  <ul class="single-right-contribute">
    <li>
      <a href="https://www.youtube.com/@enochyu_official">
        <i class="fab fa-youtube"></i> YouTube</a>
    </li>
    <li>
      <a href="https://github.com/enochyu-official/LibreNotebook">
        <i class="fab fa-github"></i> GitHub</a>
    </li>
  </ul>
</div>

