{{ define "main" }}
<section id="index-profile">
  <hr><hr>
  <div id="index-title">
    <h1>LibreNotebook</h1>
    <h2>A Giant Notebook</h2>

    <div id="intropara">
      <em>LibreNotebook</em> is a personal notebook that I write as
      I explore different topics of my interest. I personally learn
      the best when I explain the contents, so I naturally write
      my notes as if I am explaining the topics to other people.
      Although <em>LibreNotebook</em> reflects my fields of interest,
      I strive to include thorough insights whenever possible.
      <br><br>
      Having said that, <em>LibreNotebook</em> is not meant to replace
      textbooks nor dedicated resources. Rather, it is intended
      to encourage and accelerate open education by returning
      the knowledge and skills that I received from public resources.
      For anyone interested in the topics outlined below, I hope
      <em>LibreNotebook</em> serve as a useful resource.
    </div>

    <h3><span class="bold">Author:</span> Enoch Yu</h3>
    <h3><span class="bold">License:</span> CC-BY-SA-4.0</h3>
    <h3><span class="bold">Version:</span>
      <span id="version"></span></h3>
    <h3><span class="bold">Last Updated:</span>
      <span id="last-updated"></span></h3>
  </div>
  <hr>
  <p>
    The <a href="https://archive.enochyu.com/LibreNotebook.pdf">
      PDF version of <em>LibreNotebook</em></a> is also available!
    <br><br>
    As the purpose and name suggests, contributions are appreciated!
    The source files are <a href="https://github.com/enochyu-official/LibreNotebook">hosted on GitHub</a>.
  </p>
  <div id="index-stat">
    <div>
      <div class="index-stat-num" id="view-count">0</div>
      <div>Visits</div>
    </div>
    <div>
      {{ with partialCached "githubstars.html" . }}
      <div class="index-stat-num">{{ .stargazers_count }}</div>
      <div>GitHub Stars</div>
      {{ end }}
    </div>
    {{ with .Site.Params.social.youtube }}
    <a href="{{ . }}" target="_blank" rel="noopener"
       aria-label="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    {{ end }}
    {{ with .Site.Params.social.github }}
    <a href="{{ . }}" target="_blank" rel="noopener"
       aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    {{ end }}
  </div>
  <br>
  <hr><hr>
</section>

<section id="index-contents">
  <h2>LibreNotebook</h2>
  <ul>
    <li><a href="/preface">Preface</a></li>
  </ul>

  <h3>&sect;&hairsp;1. Math Olympiad</h3>
  <ul>
    <li><a href="/math01/math0100/math0100.26001">
        Introducing the Notes</a></li>

    <li>
      <button class="accordion">Prerequisites</button>
      <ul class="panel">
        <li><a href="/math01/math0109/math0109.26081">
            Definitions and Notations</a></li>
        <li><a href="/math01/math0109/math0109.26087">
            Algebra</a></li>
        <li><a href="/math01/math0109/math0109.26089">
            Geometry</a></li>
        <li><a href="/math01/math0109/math0109.26082">
            Number Theory</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[A] Inequalities</button>
      <ul class="panel">
        <li><a href="/math01/math0101/math0101.26002">
          Fundamental Inequalities</a></li>
        <li><a href="/math01/math0101/math0101.26003">
            Advanced Inequalities</a></li>
        <li><a href="/math01/math0101/math0101.26004">
            Techniques and Patterns</a></li>
        <li><a href="/math01/math0101/math0101.26005">
            Practice Problems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[A] Functional Equations</button>
      <ul class="panel">
        <li><a href="/math01/math0104/math0104.26061">
            Foundations</a></li>
        <li><a href="/math01/math0104/math0104.26062">
            Cauchy's FE and Its Variants</a></li>
        <li><a href="/math01/math0104/math0104.26063">
            Symmetric and Cyclic Equations</a></li>
        <li><a href="/math01/math0104/math0104.26064">
            Invariance</a></li>
        <li><a href="/math01/math0104/math0104.26065">
            The CDE Method</a></li>
        <li><a href="/math01/math0104/math0104.26066">
            Additional Topics</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[A] Polynomials</button>
      <ul class="panel">
        <li><a href="/math01/math0105/math0105.26059">
            Foundations</a></li>
        <li><a href="/math01/math0105/math0105.26060">
            Roots of Unity</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[A] Sequence and Series</button>
      <ul class="panel">
        <li><a href="/math01/math0106/math0106.26071">
            Telescoping Sums</a></li>
        <li><a href="/math01/math0106/math0106.26072">
            Bounding and Monotonicity</a></li>
        <li><a href="/math01/math0106/math0106.26073">
            Symmetric and Cyclic Sums</a></li>
        <li><a href="/math01/math0106/math0106.26074">
            Practice Problems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[G] Euclidean Geometry</button>
      <ul class="panel">
        <li><a href="/math01/math0103/math0103.26056">
            Power of a Point</a></li>
        <li><a href="/math01/math0103/math0103.26090">
            Isogonal Conjugate</a></li>
        <li><a href="/math01/math0103/math0103.26084">
            Homothety</a></li>
        <li><a href="/math01/math0103/math0103.26083">
            Points and Circles of a Triangle</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[G] Projective Geometry</button>
      <ul class="panel">
        <li><a href="/math01/math0102/math0102.26023">
            Fundamental Theorems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[N] Diophantine Equations</button>
      <ul class="panel">
        <li><a href="/math01/math0108/math0108.26076">
            Primitive Pythagorean Triples</a></li>
        <li><a href="/math01/math0108/math0108.26077">
            Infinite Descent</a></li>
        <li><a href="/math01/math0108/math0108.26078">
            Pell's Equations</a></li>
        <li><a href="/math01/math0108/math0108.26079">
            Practice Problems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[N] Modular Arithmetic</button>
      <ul class="panel">
        <li><a href="/math01/math0110/math0110.26085">
            Primitive Root Modulo $n$</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">[C] Combinatorics</button>
      <ul class="panel">
        <li><a href="/math01/math0107/math0107.26075">
            Foundations</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Solutions</button>
      <ul class="panel">
        <li><a href="/math01/math0100/math0100.26067">
            Solutions for Note 1</a></li>
      </ul>
    </li>
  </ul>

  <h3>&sect;&hairsp;2: Linear Algebra</h3>
  <ul>
    <li><a href="/math02/math0200/math0200.26024">
        Introducing the Notes</a></li>

    <li>
      <button class="accordion">Vectors and Vector Spaces</button>
      <ul class="panel">
        <li><a href="/math02/math0201/math0201.26025">
            Basic Terms and Notations</a></li>
        <li><a href="/math02/math0201/math0201.26026">
            Fundamental Properties</a></li>
        <li><a href="/math02/math0201/math0201.26027">
            Subspaces</a></li>
        <li><a href="/math02/math0201/math0201.26028">
            Practice Problems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Matrices</button>
      <ul class="panel">
        <li><a href="/math02/math0202/math0202.26029">
            Basic Terms and Notations</a></li>
        <li><a href="/math02/math0202/math0202.26030">
            Fundamental Properties</a></li>
        <li><a href="/math02/math0202/math0202.26031">
            Matrix Multiplication</a></li>
        <li><a href="/math02/math0202/math0202.26032">
            Additional Fundamental Topics</a></li>
        <li><a href="/math02/math0202/math0202.26033">
            Determinants</a></li>
        <li><a href="/math02/math0202/math0202.26034">
            Practice Problems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">System of Linear Equations</button>
      <ul class="panel">
        <li><a href="/math02/math0203/math0203.26035">
            Basics and Intuitions</a></li>
        <li><a href="/math02/math0203/math0203.26036">
            Gaussian Elimination</a></li>
        <li><a href="/math02/math0203/math0203.26037">
            The Multiplicative Inverse</a></li>
        <li><a href="/math02/math0203/math0203.26038">
            LU Decomposition</a></li>
        <li><a href="/math02/math0203/math0203.26039">
            Practice Problems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Matrices and Vector Spaces</button>
      <ul class="panel">
        <li><a href="/math02/math0204/math0204.26040">
            Row Space and Rank of a Matrix</a></li>
        <li><a href="/math02/math0204/math0204.26041">
            Linear Transformations</a></li>
        <li><a href="/math02/math0204/math0204.26042">
            Eigenvalues and Eigenvectors</a></li>
        <li><a href="/math02/math0204/math0204.26043">
            Practice Problems</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Solutions</button>
      <ul class="panel">
        <li><a href="/math02/math0205/math0205.26044">
            Solutions for Note 1</a></li>
        <li><a href="/math02/math0205/math0205.26045">
            Solutions for Note 2</a></li>
        <li><a href="/math02/math0205/math0205.26046">
            Solutions for Note 3</a></li>
        <li><a href="/math02/math0205/math0205.26047">
            Solutions for Note 4</a></li>
        <li><a href="/math02/math0205/math0205.26048">
            Final Thoughts</a></li>
      </ul>
    </li>
  </ul>

  <h3>&sect;&hairsp;3: Multivariable Calculus</h3>
  <ul>
    <li><a href="/math03/math0300/math0300.26068">
        Introducing the Notes</a></li>

    <li>
      <button class="accordion">Vectors and Geometry</button>
      <ul class="panel">
        <li><a href="/math03/math0301/math0301.26069">
            Basic Terms and Intuitions</a></li>
        <li><a href="/math03/math0301/math0301.26070">
            Vectors</a></li>
        <li><a href="/math03/math0301/math0301.26080">
            Geometry in 3-Space</a></li>
        <li><a href="/math03/math0301/math0301.26086">
            Cylindrical and Spherical Coordinates</a></li>
      </ul>
    </li>
  </ul>

  <h3>&sect;&hairsp;4: Machine Learning</h3>
  <ul>
    <li><a href="/cs0100/cs0100/cs0100.26006">
      What is AI and Why Should We Learn It?</a></li>

    <li>
      <button class="accordion">Fundamental Math for Machine Learning</button>
      <ul class="panel">
        <li><a href="/cs0101/cs0101/cs0101.26007">
            Calculus</a></li>
        <li><a href="/cs0101/cs0101/cs0101.26008">
            Linear Algebra</a></li>
        <li><a href="/cs0101/cs0101/cs0101.26009">
            Probability Theory</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Python Basics for Machine Learning</button>
      <ul class="panel">
        <li><a href="/cs0102/cs0102/cs0102.26010">
            Basic Syntax</a></li>
        <li><a href="/cs0102/cs0102/cs0102.26011">
            Modules and Libraries</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Foundations and Intuitions</button>
      <ul class="panel">
        <li><a href="/cs0103/cs0103/cs0103.26012">
            Fundamental Terms and Concepts</a></li>
        <li><a href="/cs0103/cs0103/cs0103.26013">
            Introduction to LLMs</a></li>
        <li><a href="/cs0103/cs0103/cs0103.26014">
            Improving Large Language Models</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Deep Dive into Deep Neural Networks</button>
      <ul class="panel">
        <li><a href="/cs0104/cs0104/cs0104.26015">
            Definitions and High Level Overview</a></li>
        <li><a href="/cs0104/cs0104/cs0104.26016">
            Mathematical Interpretations</a></li>
        <li><a href="/cs0104/cs0104/cs0104.26017">
            Building Vanilla NN From Scratch</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Building Language Models</button>
      <ul class="panel">
        <li><a href="/cs0105/cs0105/cs0105.26018">
            Bigram Language Model</a></li>
        <li><a href="/cs0105/cs0105/cs0105.26019">
            Attention and Transformers</a></li>
        <li><a href="/cs0105/cs0105/cs0105.26020">
            Building and LLM with PyTorch</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">AI and The Future</button>
      <ul class="panel">
        <li><a href="/cs0106/cs0106/cs0106.26021">
            AI Safety</a></li>
      </ul>
    </li>

    <li><a href="/cs0107/cs0107/cs0107.26022">
        Further Resources</a></li>
  </ul>

  <h3>&sect;&hairsp;5: Competitive Programming</h3>
  <ul>
    <li><a href="/cs0200/cs0200/cs0200.26049">
        Introducing the Notes</a></li>

    <li>
      <button class="accordion">C++ Basics</button>
      <ul class="panel">
        <li><a href="/cs0201/cs0201/cs0201.26050">
            Foundations</a></li>
        <li><a href="/cs0201/cs0201/cs0201.26051">
            Conditionals and Loops</a></li>
        <li><a href="/cs0201/cs0201/cs0201.26052">
            Functions and References</a></li>
        <li><a href="/cs0201/cs0201/cs0201.26053">
            Arrays and Vectors</a></li>
        <li><a href="/cs0201/cs0201/cs0201.26054">
            Practice Problems and Solutions</a></li>
      </ul>
    </li>

    <li>
      <button class="accordion">Foundations</button>
      <ul class="panel">
        <li><a href="/cs0202/cs0202/cs0202.26055">
            Time Complexity</a></li>
        <li><a href="/cs0202/cs0202/cs0202.26057">
            Simulation</a></li>
        <li><a href="/cs0202/cs0202/cs0202.26058">
            Practice Problems and Solutions</a></li>
      </ul>
    </li>
  </ul>

  <h3>Appendix</h3>
  <ul>
    <li><a href="/misc01/misc0101/misc0101.26088">
        Bibliography</a></li>
  </ul>
</section>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
{{ end }}

